body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.component_container {
  position: relative;
  background-color: black;
  height: 80vh;
  width: 80vw;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  width: 100vw;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.draggable {
  position: absolute;
  background-size: cover;
}

.selected {
  border: 1px solid #fff;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}